:root {
    --red-main: #EE6055;
    --red-light: #FF9B85;
    --green-main: #60D394;
    --green-light: #AAF683;
    --yellow-main: #FFD97D;
    --yellow-light: #FFE7AD;
    --orange-main: #FFBA81;
    --white-main: #FFFFFF;
    --black-main: #000000;
}

body {
    width: 250px;
    padding: 10px;
    background: var(--white-main);
    font-family: "Dongle", sans-serif;
    
    button {
        width: 100%;
        padding: 10px;
        background: var(--green-main);
        color: var(--white-main);
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: var(--green-light);
    }
}


